@use '../partial/importer' as *;
// .banner-slider {
//   height: 700px;
//   align-items: center;
//   background-image: url(../Images/pexels-daniel-rocha-messias-1593704734-29488872.jpg);
//   background-position: cover;
//   background-repeat: no-repeat;
//   &:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background-color: black;
//     opacity: 0.3;
//   }
//   .arrow-left, .arrow-right {
//     position: relative;
//     cursor: pointer;
//   }
//   i {
//     color: $brand-secondary-color;
//     font-size: 3rem;
//   }
//   &__content {
//     position: relative;
//     height: 700px;
//   }
//   &__elements {
//     text-align: center;
//     position: relative;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     h1, p, a {
//       color: $brand-secondary-color;
//     }
//     h1 {
//       font-size: 3rem;
//       letter-spacing: 5px;
//     }
//     button {
//       padding: 10px 15px;
//       background: transparent;
//       border: 1px solid $brand-secondary-color;
//     }
//   }
// }
.view-banner-slide {
  .view-content {
    position: relative;
    i {
      color: white;
      font-size: 4rem;
    }
    .arrow-left, .arrow-right {
      position: absolute;
    }
    .arrow-left {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .arrow-right {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .slick-list {
      .views-row {
        max-height: 700px;
        .views-field {
          .field-content {
            .slider {
              position: relative;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-color: black;
                opacity: 0.5;
                height: 100%;
                width: 100%;
              }
              &__content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}